@import "tailwindcss";
@import "./base.css";
@import "./components.css";
@import "./utilities.css";
@import "./layout.css";

@theme {
    /* color */
    --color-orange: #f58e11;
    --color-gray: #b3b3b3;
    --color-gray-2: #6b6b6b;

    --text-body-1: 18px;
    --text-body-2: 15px;
    --text-body-3: 13px;
    --text-body-4: 10px;

    /* font-size */
    --text-heading-1: 65px;
    --text-heading-2: 48px;
    --text-heading-3: 32px;
    --text-heading-4: 26px;
    --text-heading-5: 20px;
    --text-heading-6: 12px;

    --text-heading-1-tablet: 48px;
    --text-heading-2-tablet: 40px;
    --text-heading-3-tablet: 32px;

    --text-heading-1-mobile: 40px;
    --text-heading-2-mobile: 32px;
    --text-heading-3-mobile: 24px;
    --text-heading-4-mobile: 20px;

    --text-60: 60px;

    /* fonts */
    --font-body: "Montserrat", sans-serif;
    --font-outfit: "Playfair", serif;

    /* spacing */
    --spacing: 1px;

    /* screen */
    --breakpoint-1800: 1800px;
    --breakpoint-1600: 1600px;
    --breakpoint-1512: 1512px;
    --breakpoint-1440: 1441px;
    --breakpoint-1400: 1400px;
    --breakpoint-1399: 1399px;
    --breakpoint-1365: 1365px;
    --breakpoint-1023: 1023px;
    --breakpoint-1024: 1025px;
    --breakpoint-1200: 1200px;
    --breakpoint-1199: 1199px;
    --breakpoint-990: 990px;
    --breakpoint-768: 769.99px;
    --breakpoint-767: 767px;
    --breakpoint-639: 639px;
    --breakpoint-575: 575px;
    --breakpoint-479: 479px;
    --breakpoint-415: 415px;
    --breakpoint-374: 374px;
}