/* From Uiverse.io by JaydipPrajapati1910 */ 
.loder{
  @apply h-screen w-full bg-black absolute top-0 flex justify-center items-center z-20;
}
.window {
  position: relative;
  width: 160px;
  height: 160px;
  border: 4px solid #282828;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.window:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  background: #212121;
  border-radius: 50%;
  border: 2px solid #292929;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
    inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.window span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(
    -225deg,
    #ff7402 0%,
    #ffe700 50%,
    #fff55e 100%
  );
  filter: blur(20px);
  z-index: -1;
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

  


.banner {
  @apply h-[650px] bg-no-repeat bg-cover bg-center flex justify-center items-center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.645), rgba(0, 0, 0, 0.421)), url('/assets/images/banner.jpg');
}

.banner .banner-inner {
  @apply w-[50%] max-768:w-[90%];
}

.main-inner {
  perspective: 1000px;
  width: 100%;
  height: 300px;
  position: relative;
}

.services-part .main-inner .inner-part {
  @apply rounded-[20px] overflow-hidden h-[300px] min-1024:h-[400px];
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.services-part .match-image {
  @apply flex justify-center items-center w-full h-full border bg-cover;
}

.services-part .name-box {
  @apply absolute max-768:top-[-10%] max-768:left-[-10%] max-1024:left-[20%] max-1024:top-[18%] top-[25%] left-[30%] bg-orange/70 rounded-full h-200 w-200 flex justify-center items-center text-center shadow-md shadow-white p-40;
}

.main-inner:hover .inner-part {
  transform: rotateY(180deg);
}

.card {
  perspective: 1000px;
  width: 100%;
  height: 300px;
  position: relative;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.card-front {
  background: #000;
  color: white;
}

.card-back {
  @apply text-white flex items-center justify-center flex-col text-center;
  transform: rotateY(180deg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.756), rgba(0, 0, 0, 0.421)), url('https://st2.depositphotos.com/8843414/12482/v/450/depositphotos_124821810-stock-illustration-abstract-telecommunication-future-technology-innovation.jpg');
}

.about-part .title::before,
.our-machines .machine-title::before,
.product .productBox .title::before,
.about-us .title h2::before,
#singlemain .title::before{
  @apply content-[''] absolute bottom-0 left-0 h-3 w-50 bg-orange border-s-4 border-dotted rounded-e-sm;
}

.about-part .about-inner-part img {
  @apply w-[200px] h-[250px] max-767:w-[125px] max-767:h-[150px]
}

.about-inner-part img:hover {
  @apply shadow-md shadow-gray-2
}

.about-img:hover{
  @apply shadow-xl shadow-gray
}
.about-img::before{
  @apply content-[''] absolute top-0 left-0 h-full w-full hidden;
  background: linear-gradient(rgba(128, 128, 128, 0.168),rgba(0, 0, 0, 0.481))
}
.about-img:hover::before{
  @apply block;
}

.mini-banner {
  @apply bg-cover bg-center;
  background-image: url('https://img.freepik.com/premium-photo/vintage-lathe-low-key-selective-focus_690955-558.jpg');
}

.main-text {
  -webkit-text-stroke: 1px rgba(213, 213, 213, 0.371);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-stroke: 1px white;
}

.our-machines::before {
  @apply content-[''] absolute top-0 left-0 w-full h-[50%] -z-1;
  background: linear-gradient(to right, #f8c281 20%, #fab560, #f58e11 50%)
}

.our-machines .swiper-button-prev::after,
.our-machines .swiper-button-next::after {
  @apply hidden;
}

.our-machines .swiper-button-prev,
.our-machines .swiper-button-next {
  @apply mt-40;
}

.our-machines .swiper-wrapper .swiper-slide {
  @apply flex justify-center items-center bg-black h-full w-full p-20 bg-no-repeat bg-cover bg-center rounded-xl shadow-md shadow-gray;
  background-image: url('https://www.shutterstock.com/image-vector/water-surface-magic-neon-glow-600nw-2483884465.jpg')
}

.our-machines .swiper-wrapper .swiper-slide .text {
  @apply absolute bottom-10 left-20;
}

.our-machines .swiper-wrapper .swiper-slide {
  @apply w-full overflow-hidden
}

.our-machines .swiper-wrapper .swiper-slide img {
  @apply h-[300px] min-768:h-[400px]
}

.contact .icon i {
  @apply text-white;
}
.contact .icon{
  @apply bg-orange !h-25 !w-25 rounded-full flex justify-center items-center
}

.contact ul li {
  @apply flex gap-10 font-medium mb-15;
}
.contact ul li a{
  @apply font-medium text-body-3 text-gray-2; 
}

.contact .map {
  @apply overflow-hidden transition
}

.contact .shap {
  @apply absolute top-0 right-0 w-[50%] h-[80%] -z-1 bg-orange/30;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.contact .shap-2 {
  @apply absolute top-0 right-0 w-[50%] h-[60%] -z-1 bg-orange/30;
 clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.product {
  @apply grid grid-cols-4 gap-40 max-768:grid-cols-1 max-1024:grid-cols-2;
}

.product .productBox {
  @apply flex flex-col rounded-[30px] shadow-md shadow-gray overflow-hidden;
}

.product .productBox .shap {
  @apply absolute bottom-0 left-0 w-full h-[90%] -z-1 bg-orange/30;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.product .productBox .img {
  @apply flex justify-center items-center;
}

.product .productBox .img img {
  @apply w-full h-[250px] object-center;
}

.product .productBox .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  line-height: 1.4;

}
 #searchInput{
    @apply h-[30px] w-[300px] rounded-[30px] border-gray shadow-lg pl-20 text-body-3
}
#searchInput::placeholder{
  @apply text-body-3
}
.serchicon{
  @apply h-[30px] w-[40px] rounded-e-[30px] bg-orange text-white absolute max-1024:right-0 right-[50px] bottom-0 flex justify-center items-center;
}

.product .productBox .content .expanded {
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: auto;
  max-height: 800px;
}

.highlight{
  @apply flex items-center gap-10; 
}
 .highlight-icon{
  @apply bg-orange flex justify-center items-center h-35 w-35 rounded-full text-xl text-white;
}
.our-complany:hover .highlight-icon{
  @apply bg-black duration-300
}
.our-complany:hover .highlight-icon i{
  @apply text-orange
}
.our-complany{
  @apply flex flex-col justify-center  bg-orange/10 rounded-[20px] p-30 relative overflow-hidden hover:shadow;
}
.our-complany::before{
  @apply content-[''] absolute right-0 top-0 h-[20%] w-[30%] bg-black duration-500;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.our-complany::after{
  @apply content-[''] absolute right-0 top-0 h-[33%] w-[30%] bg-orange/50 duration-300;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.our-complany:hover::before,
.our-complany:hover::after{
  @apply w-full
}

/* services */

.services .services-items{
  @apply rounded-t-[50%] shadow-2xl max-1024:py-50 p-30 min-1024:p-40  flex 
  flex-col items-center justify-center text-center relative bg-orange/20 border-4 border-transparent max-768:mb-30 border-b-0;
}
.services .services-items .services-icon{
  @apply h-60 w-60 rounded-full bg-orange border-4 border-white flex justify-center items-center absolute bottom-[-25px] text-white ;
}
.services .services-items:hover{
  @apply bg-white border-orange duration-300;
}
.services .services-items:hover .services-icon{
  @apply text-black bg-white duration-300 border-t border-orange;
}
.services-poster{
  @apply border bg-orange h-[300px] w-full text-white bg-no-repeat bg-cover bg-center rounded-xl;
  background-image:linear-gradient(rgba(0, 0, 0, 0.358),rgba(0, 0, 0, 0.516)), url('/assets/images/services.jpg');
}
.process-items{
  @apply flex flex-col items-center justify-center p-30 text-center rounded-xl bg-orange/50;
}
.process-items:hover{
  @apply shadow;
  background: linear-gradient(rgba(255, 166, 0, 0.895),rgba(255, 166, 0, 0.078));
}
.process-items .process-icon{
  @apply text-orange text-[30px]
}
.process-items:hover .process-icon{
  @apply text-white
}
.process-items .process-img{
  @apply pt-[66.67%] w-full h-full relative mt-10
}
.process-items .process-img img{
  @apply absolute top-0 left-0 w-full h-full object-cover rounded-xl
}
.arrow{
  @apply max-768:rotate-[90deg] max-768:w-[100px]
}
#singlemain{
  @apply flex flex-wrap justify-center items-center min-1512:m-80 p-20  rounded-2xl shadow-2xl bg-white;
}
#singlemain table tr td,
#singlemain ul li span{
  @apply mt-20 text-body-2;
}
#singlemain ul li span,
#singlemain table tr td:nth-child(1){
  @apply font-bold mr-10 flex
}
#singlemain table tr td:nth-child(2){
  @apply px-10
}
#singlemain .swiper-wrapper{
  @apply rounded-xl w-full;
}
#singlemain .swiper-wrapper .swiper-slide{
  @apply flex justify-center items-center bg-orange/20 rounded-xl p-20;
}
#singlemain .swiper-wrapper .swiper-slide .img{
  @apply pt-[77.59%] relative w-full bg-white rounded-xl;
}
#singlemain .swiper-wrapper .swiper-slide .img img{
  @apply absolute top-0 left-0 w-full h-full p-20;
}
#singlemain .swiper-pagination{
  @apply relative mt-30; 
}
#singlemain .swiper-pagination-bullet {
  background:rgba(255, 166, 0, 0.384);         /* default color */
  width: 20px;
  height: 10px;
  opacity: 1;
  border-radius: 50px;       /* round bullets */
  transition: all 0.3s ease;
  margin: 0 6px !important; /* spacing between dots */
}

/* Active bullet */
#singlemain .swiper-pagination-bullet-active {
  background: orange;     /* your brand color */
  transform: scale(1.3);    /* enlarge active dot */
  box-shadow: 0 0 6px gray;
}

/* Positioning (if needed) */
#singlemain .swiper-pagination {
  bottom: 15px !important;
  text-align: center;
}
